/.idea
/vendor
/composer.phar

/www/files/pictures/x/*
!/www/files/pictures/x/.gitkeep

/www/files/pictures/xgray/*
!/www/files/pictures/xgray/.gitkeep

/www/files/pictures/xmin/*
!/www/files/pictures/xmin/.gitkeep

/www/files/projects/*
!/www/files/projects/.gitkeep

/www/files/compiled/*
!/www/files/compiled/.gitkeep

/cache/*
!/cache/.gitkeep

/logs/*
!/logs/.gitkeep

/src/configs/config.php
/www/index.php
