/.idea
/vendor
/composer.phar
/www/files/compiled/*.js
/www/files/compiled/*.css
/www/index.php
/www/files
/Application/configs/configuration.php
/Application/cache/*
/Application/corpsee.sqlite
/logs/*
/sessions
/access.log
/error.log
/php_errors.log