/vendor
/composer.phar
/www/files/compiled/*.js
/www/files/compiled/*.css
/www/files/pictures/x
/www/files/pictures/xgray
/www/files/pictures/xmin
/Application/configs/config.php
/Application/cache/*
/www/index.php
/logs